aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altair==5.5.0
annotated-doc==0.0.4
anyio==4.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
attrs==24.2.0
blinker==1.9.0
cachetools==5.5.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
contourpy==1.3.3
cycler==0.12.1
discord==2.3.2
discord.py==2.4.0
distro==1.9.0
dnspython==2.8.0
email_validator==2.2.0
ezgraphics @ file:///Users/paulnguyen/Downloads/ezgraphics-2.2.tar.gz#sha256=febcc03c2dc6d9ce6fca6bdc199d2efde36328f450fdf92f1fd7d2e45559d4a3
fastapi==0.121.3
Flask==3.1.1
flask-cors==6.0.0
fonttools==4.59.0
frozenlist==1.5.0
gitdb==4.0.11
GitPython==3.1.43
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.12.0
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
liac-arff==2.5.0
MarkupSafe==3.0.2
matplotlib==3.10.3
minio==7.2.16
mongo==0.2.0
motor==3.7.1
multidict==6.1.0
mymongo==0.1.1
narwhals==1.41.0
numpy==2.2.6
openai==2.8.1
openml==0.15.1
packaging==24.2
pandas==2.2.3
pillow==11.2.1
propcache==0.2.0
protobuf==6.31.1
pyarrow==20.0.0
pycparser==2.22
pycryptodome==3.23.0
pydantic==1.10.19
pydeck==0.9.1
pygame==2.6.1
pymongo==4.17.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2025.2
querytyper==0.1.0
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
scikit-learn==1.7.1
scipy==1.16.1
setuptools==75.3.0
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
starlette==0.50.0
streamlit==1.45.1
tenacity==9.1.2
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.2
ulid-py==1.1.0
urllib3==2.4.0
uvicorn==0.38.0
Werkzeug==3.1.3
xmltodict==0.14.2
yarl==1.17.1
